Q1 L is a list defined as L=[11,12,13,14].
(i) WAP to add 50 and 60 to L

In [27]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13

In [28]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

(iii) WAP to sort L in ascending order

In [29]:
L.sort()
print(L)

[12, 14, 50, 60]

(iv) WAP to sort L in descending order

In [30]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

(v) WAP to search for 13

In [31]:
L=[11,12,13,14]
if 13 in L:
    print("13 is present")
else:
    print("13 is not present")

13 is present

(vi) WAP to count the number of elements present in L.

In [32]:
L = [11, 12, 13, 14]
count = len(L)
print("Number of elements:", count)

Number of elements: 4

(vii) WAP to sum all the elements in L.

In [34]:
L = [11, 12, 13, 14]
total_sum = sum(L)
print("Sum of all elements:", total_sum)

TypeError: 'int' object is not callable

(viii) WAP to sum all ODD numbers in L

In [35]:
L = [11, 12, 13, 14]
sum = 0
for num in L:
    if num % 2 != 0:
        sum += num
print("Sum of all odd numbers:", sum)

Sum of all odd numbers: 24

(ix) WAP to sum all EVEN numbers in L

In [36]:
L = [11, 12, 13, 14]
sum = 0
for num in L:
    if num % 2 == 0:
        sum += num
print("Sum of all even numbers :", sum)

Sum of all even numbers : 26

(x) WAP to sum all prime number

In [37]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

L = [11, 12, 13, 14]
sum = 0
for num in L:
    if is_prime(num):
        sum += num
print("Sum of all prime numbers:", sum)

Sum of all prime numbers: 24

(xi) WAP to clear all the elements

In [38]:
L = [11, 12, 13, 14]
L.clear()
print(L)

[]

In [39]:
L = [11, 12, 13, 14]
del L
print("List deleted.")

List deleted.

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i) WAP to add new entry in D;key=8 and value is 8.8

In [40]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [41]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.pop(2)
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D.

In [42]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
if 6 in D:
    print("Key 6 is present")
else:
    print("Key 6 is not present")

Key 6 is not present

(iv) WAP to count the number of elements present in D.

In [43]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
count = len(D)
print("Number of elements in D:", count)

Number of elements in D: 5

(vi) WAP to update the value of 3 to 7.1.

In [45]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [46]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.clear()
print(D)

{}

Q3 S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [47]:
#(i)
S1 = {10, 20, 30, 40, 50, 60}
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [48]:
#(ii)
S1 = {10, 20, 30, 40, 50, 60}
S1.remove(10)
S1.remove(30)
print(S1)

{50, 20, 40, 60}

In [49]:
#(iii)
S1 = {10, 20, 30, 40, 50, 60}
if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")

40 is present in S1.

In [50]:
#(iv)
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
union_set = S1.union(S2)
print("Union of S1 and S2:", union_set)

Union of S1 and S2: {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [51]:
#(v)
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
intersection_set = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection_set)

Intersection of S1 and S2: {40, 50, 60}

In [52]:
#(vi)
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
difference_set = S1.difference(S2)
print("Difference S1 - S2:", difference_set)

Difference S1 - S2: {10, 20, 30}

Q4 (i) WAP to print 100 random strings whose length between 6 and 8

In [53]:
import random
import string

def generate_random_string(length):
    characters = string.ascii_letters + string.digits
    return ''.join(random.choice(characters) for i in range(length))

print("100 random strings:")
for _ in range(100):
    length = random.randint(6, 8)
    print(generate_random_string(length))

100 random strings:
3bunulL6
G6iVUA
H9dEFsFa
wzqNS9R
8dFnwo2
zNHjgwd
NXXITe
MYbmPhW
scHfCG
bgTlYzvV
ggiHp5c
ias6WW
1eoWR5
D1oIFOcU
iWmjwZk
Z8QC8TLO
N1sGoi4m
vGKIZowL
dfFpyV
yADAbSV
S6bJfBze
H1D1ALgc
eu8Of8FX
aACrGU
Msqwzj
NQdAuK
fzM3ctX2
E491Rvx
EuYh86j
IW9Y1BI
1FvCTZ
FLfyaeY
CTtgKzsN
AjWBP0Cn
xV6dQei7
3xAaIyYh
V2UAsTQ
2bLNIvT
i2nec6
OyL6HHBC
AHSjoGr
EIc0AzSv
QiF0aa
CrD7pO0
4s1hq1ws
mtXYLgTy
2EdAJMX1
452ANnw
ZDoon3oq
5xaC3z
pkVgHf9F
EnAck9w
Xqpfw9u9
YRrXjf5
xEobFV
4uMIww3
0qDvcpZ0
Kv6FvA
8XStvTE
bEwOrqX
xvQvkw
cNdFvcJ
AoY7Hi2t
3RXvbs
TXylQYAm
1yvJdh7l
P7xPQXO
WpcKvOU
2izWmB4
GTDTUYEM
1T1UBa
DrzrymCE
XKbhnTyp
mZfa6K
WF5RrIxH
KksZh2mZ
zyJetu
g9dGjrwX
5HX8gH
UlyWq0fZ
5mfTnDBE
39xDg7
zYJqM0Zb
wk4rbU
nMHeTu
kTfq1qF
8Qvn3l
NMEYr33
3ScJTamV
5OdOaf
hTYxlCOr
d1GsJF
c80a5e2
Cs5s8PG
qQ4XPs7Z
KHad3ziN
mIhnxpN
JY9dqk8
LzmgmO
BDZUcsHo

(ii) WAP to print all prime numbers between 600 and 800.

In [54]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print("Prime numbers between 600 and 800:")
for num in range(600, 801):
    if is_prime(num):
        print(num)

Prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [55]:
print("Numbers between 100 and 1000 divisible by 7 and 9:")
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

Numbers between 100 and 1000 divisible by 7 and 9:
126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

In [67]:
import random

list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# (i) Common numbers
set1 = set(list1)
set2 = set(list2)
common_numbers = list(set1.intersection(set2))
print("Common numbers:", common_numbers)

# (ii) Unique numbers in both lists
unique_numbers = list(set1.symmetric_difference(set2))
print("Unique numbers in both lists:", unique_numbers)

# (iii) Minimum in both lists
min_in_list1 = min(list1)
min_in_list2 = min(list2)
print("Minimum in List 1:", min_in_list1)
print("Minimum in List 2:", min_in_list2)
print("Minimum in both lists (overall):", min(min_in_list1, min_in_list2))


# (iv) Maximum in both lists
max_in_list1 = max(list1)
max_in_list2 = max(list2)
print("Maximum in List 1:", max_in_list1)
print("Maximum in List 2:", max_in_list2)
print("Maximum in both lists (overall):", max(max_in_list1, max_in_list2))

List 1: [25, 19, 27, 21, 28, 28, 15, 21, 28, 25]
List 2: [18, 13, 27, 19, 23, 30, 26, 22, 10, 19]
Common numbers: [27, 19]
Unique numbers in both lists: [10, 13, 15, 18, 21, 22, 23, 25, 26, 28, 30]
Minimum in List 1: 15
Minimum in List 2: 10
Minimum in both lists (overall): 10
Maximum in List 1: 28
Maximum in List 2: 30
Maximum in both lists (overall): 30

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [57]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

for num in random_numbers:
    if num % 2 != 0:
        odd_numbers.append(num)
    else:
        even_numbers.append(num)
    if is_prime(num):
        prime_numbers.append(num)

print("Total random numbers generated:", len(random_numbers))
print("Count of Odd numbers:", len(odd_numbers))
print("Odd numbers:", odd_numbers)
print("Count of Even numbers:", len(even_numbers))
print("Even numbers:", even_numbers)
print("Count of Prime numbers:", len(prime_numbers))
print("Prime numbers:", prime_numbers)

Total random numbers generated: 100
Count of Odd numbers: 50
Odd numbers: [857, 477, 299, 579, 169, 879, 151, 737, 319, 573, 801, 755, 707, 687, 351, 649, 383, 431, 141, 643, 471, 103, 215, 149, 753, 195, 893, 775, 275, 453, 273, 639, 455, 499, 613, 833, 719, 517, 253, 233, 111, 179, 783, 295, 755, 311, 603, 491, 733, 191]
Count of Even numbers: 50
Even numbers: [834, 686, 788, 398, 554, 542, 634, 470, 624, 432, 822, 204, 616, 624, 690, 666, 650, 672, 218, 578, 610, 128, 470, 322, 890, 278, 608, 792, 130, 498, 696, 646, 870, 134, 304, 612, 556, 228, 900, 462, 276, 180, 404, 130, 816, 494, 850, 596, 744, 420]
Count of Prime numbers: 16
Prime numbers: [857, 151, 383, 431, 643, 103, 149, 499, 613, 719, 233, 179, 311, 491, 733, 191]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [58]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

with open("dictionary_output.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n")

print("Keys and values written to 'dictionary_output.txt'")

Keys and values written to 'dictionary_output.txt'

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [59]:
L = ["One", "Two", "Three", "Four", "Five"]

with open("list_element_lengths.txt", "w") as file:
    for element in L:
        file.write(f"{element}, {len(element)}\n")

print("Element lengths written to 'list_element_lengths.txt'")

Element lengths written to 'list_element_lengths.txt'

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [60]:
import random
import string

def generate_random_string(length):
    characters = string.ascii_letters + string.digits
    return ''.join(random.choice(characters) for i in range(length))

with open("random_strings.txt", "w") as file:
    for _ in range(100):
        length = random.randint(10, 15)
        file.write(generate_random_string(length) + "\n")

print("100 random strings written to 'random_strings.txt'")

100 random strings written to 'random_strings.txt'

Q10. Write to the file all prime numbers between 600 and 800.

In [61]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

with open("prime_numbers_600_800.txt", "w") as file:
    for num in range(600, 801):
        if is_prime(num):
            file.write(str(num) + "\n")

print("Prime numbers between 600 and 800 written to 'prime_numbers_600_800.txt'")

Prime numbers between 600 and 800 written to 'prime_numbers_600_800.txt'

Q11. WAP to calculate the time taken by a program.

In [62]:
import time

# Example program whose time needs to be calculated
def example_function():
    sum_val = 0
    for i in range(1, 1000000):
        sum_val += i
    return sum_val

start_time = time.time()
result = example_function()
end_time = time.time()

time_taken = end_time - start_time
print(f"Result of example function: {result}")
print(f"Time taken by the program: {time_taken:.6f} seconds")

Result of example function: 499999500000
Time taken by the program: 0.029560 seconds